body {
    background-color: black;
    color: white;
}

.principal {
    background-image: url("Background.png");
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
}

.img_combo{
    margin-bottom: 50px;
}

.p2 {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
}

.titulo2 {
    margin-bottom: 50px;
}

.p3 {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
}

.p4 {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
}

.botão {
    display: block;
    color: white;
    background: blue;
    padding: 10px;
}